beautifulsoup4==4.4.1
boto==2.39.0
requests==2.31.0

# use this because pdfkit otherwise puts ToC before cover
# see: https://github.com/JazzCore/python-pdfkit/pull/23
git+git://github.com/signalkraft/python-pdfkit.git@b30c104b4db93d7f12ade018473c57779ac2a77e
